
.container {
    width: 100%;
}

.block_contain-lefl {
    width: 60%;
    text-align: center;
}

.block_contain-right {
    width: 40%;
    background: #C3C8CF;
}

.material-symbols-outlined {
    cursor: pointer;
}

#form {
    display: grid;
    width: 60%;
    margin: 0% 15%; 
    gap: 5px;
}

#form>div{
    margin: 5px 0px;
    width: 60%;
}

#sub {
    margin: 0 25%;
    margin-top: 5px;
    text-align: center !important;
    cursor: pointer;
    border-radius: 10px;
    background-color: #4285F4;
    width: 175px;
    height: 40px;
}

div>label {
    width: 200%;
    border-radius: 5px;
    text-align: left !important;
    margin: 1px 0px;
}

div>input{
    width: 200%;
    height: 40px;
    border-radius: 5px;
    text-align: left !important;
    margin: 1px 0px;
}


p>a{
    align-items: center; 
    justify-content: center;
    
    color: #1e40af;
    font-style: italic;
    margin-bottom: 0.5rem;
}

p,
h3 {
    text-align: center;
}

.title {
    color: var(--Dark-Blue, #1F2B6C);
    /* Poppin regular 50 */
    font-family: Poppins;
    font-size: 50px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

#front-text {
    color: #000;
    font-family: Beau Rivage;
    font-size: 50px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin: 10% 0px 10% 0px;
}

img {
    width: 100%;
}

@media screen and (max-width: 0px) {
}