<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div>
        <p>Chăm sóc cuộc sống</p>
        <span>Tinh thần thoải mái, lạc quan và tích cực!</span>
    </div>

    <section>
       <p>CHÀO MỪNG ĐẾN VỚI DỊCH VỤ CHĂM SÓC</p> 
       <p>Nơi tuyệt vời để trao gửi niềm tin</p>
       <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque placerat scelerisque tortor ornare ornare. Convallis felis vitae tortor augue. Velit nascetur proin massa in. Consequat faucibus porttitor enim et.</p>
    <p>CHăm sóc tận tinh</p>
    <p>Bác sĩ của chúng tôi</p>

    <img src="../root/images/HomePage-bg1.png" alt="">
    </section>
</body>
</html>